@charset "utf-8";

body {
  text-align: center;
  background: rgb(0, 0, 0);
  color: white;

}

.header {
  display: flex;
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: rgb(0, 0, 0);
  height: 10vh; width: 100%;
  line-height: 10vh;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}

.header h1 {
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20%;
}

.header h2 {
  position: relative;
  top: -70%;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  
}

.header a.contact {
  position: relative;
  top: 30%; right: 1%;
  border-radius: 50px;
  width: 150px; height: 40px;
  background-color: white;
  font-weight: 400;
  font-size: 1.2em;
}

.header > a.contact h2:hover {
  transition: 0.5s;
  background-color: black;
  color: white;
}

.header  a {
  color: white;
  font-weight: bold;
}

.header_nav {
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
}

.h_mainmenu {
  color: white;
  display: block;
  min-width: 140px; max-width: 140px;
  width: 100%;
  transition: 0.5s;
  font-size: 1.3em;
}

.h_mainmenu:hover {
  background-color: #00c3a4;
  transition: 0.5s;
}

.h_submenu li:hover{
  background-color: white;
}

.h_submenu li:hover a {
  color: black;
}

.h_submenu li {
  background: #00c3a4;
  height: 10vh;
}

.h_submenu {
  transition: 0.8s;
  overflow: hidden;
  height: 0;
  font-size: 1.1em;
}

.h_mainmenu p {
  font-weight: lighter;
}

.header:hover .h_submenu{
  background-color: transparent;
  color: white;
  height: 60vh;
}

/* header */

@keyframes typing {
  0%{
    width: 0%;
  }
  50%{
    width: 100%;
  }
  100%{
    width: 0%;
  }
  
}

.main {
  font-weight: bold;
  font-size: 6rem;
  padding: 20% 0;
}

.maintxt h1 {
  text-transform: uppercase;
  white-space: nowrap;
  color: transparent;
  margin: 0;
  position: absolute;
  top: 25%; left: 50%;
  transform: translate(-50% ,-50%);
  z-index: 1;
}

.maintxt h1::before {
  content: "developers";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  color: white;
  overflow: hidden;
  border-right: 3px solid white;
  animation: typing 5s steps(20) infinite;
}
/* typiung */

.mainimg img {
  width: 80%; height: 100%;
}
/* main */
.nav {
  font-size: 1.6rem;
  position: fixed;
  top: 400px; left: 96%;
  display: flex;
  flex-flow: column wrap;
  color: white;
  background-color: rgb(56, 56, 56);
  width: 15%; height: 28%;
  transition: 0.5s;
}
.nav li {
  display: flex;
  justify-content: space-between;
  margin: 8% 9%;
}
.nav a {
  color: white;
}

.nav:hover {
  position: fixed;
  left: 85%;
  z-index: 100;
}
/* nav */

.featureBox {
  height: 100vh;
  margin-bottom: 5%;
}

.featureBox h2 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 5%;
}

.featureBox ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80%; height: 85%;

}
.featureBox ul li {
  background-color: #212529;
  border-radius: 5px;
  margin: 1.5%;
  width: 30%; 

}

.featureBox h3 {
  margin: 20px auto;
  font-size: 1.6em;
  font-weight: bold;
}

.featureBox svg {
  fill: #00c3a4;
  height: 25%;
  margin-top: 5%;
}

.featureBox p {
  color: #7b7c7e;
  margin: 0 18%;
  line-height: 20px;
  font-weight: bold;
  font-size: 1.1em;
}
/* feature */

  .info1 {
    height: 80vh;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info1 ul {
    display: flex;
    flex-flow: wrap;
    width: 30%;

  }

  .info1 ul li {
    background-color: #00c3a4;
    border-radius: 10px;
    width: 22%;
    margin: 5%;
  }

  .info1 svg {
    fill: white;
    height: 30%;
    margin: 50px auto;
    margin-bottom: 55px;
  }

  .info1 h2 {
    font-weight: lighter;
    font-size: 3em;
    width: 32%;
    line-height: 150%;
    margin-left: 15%;
  }

  .info1 p {
    color: #7b7c7e;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
  }
/* info1 */

.info2 {
  height: 100vh;
  display: flex;
  margin: 5% auto;
  justify-content: center;
}

.info2 img {
  min-width: 100%;
  width:60%; height: 60%;
  margin: 15% auto;
}

.info2txt {
  font-size: 2em;
  text-align: left;
  margin: 15% 5%;
  width: 30%;
  line-height: 50px;
}

.info2txt a {
  color: #00c3a4;
  text-decoration:underline;
  font-size: 0.6em;
}
.info2txt2 {
  font-size: 2em;
  font-weight: lighter;
  text-align: left;
  margin: 15% 5%;
  width: 49%;
  line-height: 50px;
}

.info2txt2 a {
  color: #00c3a4;
  text-decoration:underline;
  font-size: 0.6em;
}
.info2txt3 {
  font-size: 2em;
  font-weight: lighter;
  text-align: left;
  margin: 15% 5%;
  width: 49%;
  line-height: 50px;
}

.info2txt3 a {
  color: #00c3a4;
  text-decoration:underline;
  font-size: 0.6em;
}

.info2txt3 p {
  font-size: 0.6em;
}

.info2txt3 svg {
  height: 20px;
}

.info2img3 img {
  min-width: 100%;
  width:80%; height: 80%;

}


/* info2 */

.info3 {
  background-color: #212529;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.info3 ul {
  margin: 10%;
}

.info3 h2 {
  font-weight: bold;
  font-size: 4.5em;
  margin: 8% auto;
}

.info3 h3 {
  font-weight: lighter;
  font-size: 1.6em;
  margin: 8% auto;
}
.info3 p {
  color: #7b7c7e;
  font-size: 1.1em;
}

/* info3 */

.video {
  position: relative;
  bottom: 350px;
  z-index: 1000;
}

.video iframe {
  min-width: 80%; min-height: 80vh;
}

/* video */
.info4 {
  height: 100vh;
  display: flex;
  margin: auto 5%;
  justify-content: center;
}

.info4txt {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  margin: 15% 5%;
  width: 49%;
  line-height: 50px;
}

.info4txtbox {
  background-color: #00c3a4;
  border-radius: 10px;
  padding: 3%;
  position: relative;
  right: 3%;

}

.info4txtbox h3 {
  font-size: 0.6em;
}

.info4txt a {
  color: #00c3a4;
  text-decoration:underline;
  font-size: 0.6em;
}

.info4txt p {
  font-size: 0.6em;
  color: #7b7c7e;
}

.info4img img {
  min-width: 100%;
  width:80%; height: 80%;
}


/* info4 */

.Box {
  height: 80vh;
  margin-bottom: 5%;
}

.Box h2 {
  padding: 5%;
  text-align: left;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 5%;
}

.Box ul {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  margin: 0 auto;
  width: 90%; height: 40%;

}
.Box ul li {
  background-color: #333435;
  border-radius: 15px;
  margin: 1%;
  width: 100%; 

}

.Box h3 {
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 10%;
  font-weight: bold;
}

.Box svg {
  fill: #00c3a4;
  height: 50%;
  margin-left: 50%;
}

.Box p {
  margin: 50px 10%;
  color: #7b7c7e;
  line-height: 20px;
  font-weight: bold;
  font-size: 1.4em;
  font-weight: lighter;
}

.contact {
  height: 100vh;
  background-color: #212529;
}

ul.box_1 {
  margin: 5%;
}
/* contact */

.partner {
  height: 30vh;
  background-color: #212529;
  display: flex;
  justify-content: space-around;
}
.partner h2 {
  font-size: 2.5em;
  font-weight: bold;

}

/* partner */

.contactm {
  height: 50vh;
  background-color: #212529;
  display: flex;
  justify-content: space-evenly;
}

.contactm h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-left: 2%;
}

.contactF {
  width: 70%;
  position: relative;
  left: 6%;
  z-index: 10;
}

.contactF label {
  font-weight: bold;
}

.contactF label:first-child {
  position: relative;
  right: 480px; bottom: 10px;
}
.contactF label:nth-child(2) {
  position: relative;
  bottom: 10px; left: 20px;
}

.contactF ul.name {
  display: flex;
  justify-content: space-evenly;
  margin: 0 9%;
}

.contactF ul.name input#userName, #userEmail {
  width: 500px; height: 100px;

  border-radius: 10px;
  background-color: #333435;
}

.contactF ul.bnt {
  display: flex;
  flex-flow: column;
}

.contactF ul.bnt textarea {
  width: 1035px;
  border-radius: 10px;
  background-color: #333435;
  margin-top: 2%;
}

.bnt button {
  margin-top: 2%;
  width: 1030px;
  height: 100px;
  border-radius: 10px;
  background-color: #00c3a4;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.info5 {
  height: 50vh;
  background-color: #3b3f42;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.info5 p {
  font-weight: bold;
  font-size: 1.1em;
}

.info5 h2 {
  font-size: 3.5em;
  width: 45%;
  margin: 0 28%;
  line-height: 150%;
  font-weight: bold;
  color: #00c3a4;
}

.info5 a {
  color: white;
}
.info5 .site {
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  justify-content: space-evenly;
  margin: 1% 35%;
}

.info5 .site li:nth-child(1){
  background-color: #00c3a4;
  padding: 3% 5%;
  border-radius: 50px;
}
.info5 .site li:nth-child(2){
  border: 1px solid #ffffff;
  padding: 3% 5%;
  border-radius: 50px;
}
/* contact */
/* main */

.footer {
  height: 15vh;
}

.foot1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.family a {
  color: white;

}

.family {
  position: relative;
  left: 15%;
  font-weight: bold;
  border: 1px solid rgba(128, 128, 128, 0.363);
  padding: 1%;
}

ul.foots {
  display: flex;
  position: relative;
  right: 20%;
}

ul.foots li {
  width: 150px;
}

.footer a {
  color: white;
}
.foot2 p {
  text-align: left;
  width: 30%;
  line-height: 180%;
  position: relative;
  left: 8%; bottom: 100px;
  font-size: 0.9em;
  color: #7b7c7e;
}
/* footer */